target/
bin/
node_modules/
package-lock.json
package.json
webpack.config.js
webpack.generated.js
vite.generated.ts
vite.config.ts
pnpm-lock.yaml
pnpmfile.js
tsconfig.json
types.d.ts
vaadin-featureflags.properties
**/frontend/generated
**/pnpm-lock.yaml
**/.factorypath
**/.prettierrc.js
**/.vscode/extensions.json
**/.vscode/settings.json
**/.mvn/
**/.npmrc
**/mvnw
**/mvnw.cmd
/.idea
/.vscode
.settings
.project
.classpath
.vaadin
.eclipse
dev-bundle/
**/frontend/index.html
**/data/
**/bundles/
.vaadin-node-tasks.lock
.DS_Store
Thumbs.db
